@page "/Day1"

<div class="day">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur, nulla eu rutrum vulputate, diam
        ligula fringilla nibh, vitae suscipit ipsum metus et dui. Cras porta tempus risus eget vulputate. Donec at metus
        et quam varius vestibulum. Morbi lacinia feugiat risus at vestibulum. Maecenas est lacus, ullamcorper vitae
        ligula at, aliquam mollis leo. Aenean dapibus sollicitudin lacus, a sodales libero semper nec. In rhoncus tellus
        vel mi egestas tristique. Nunc semper enim sit amet est iaculis sollicitudin.
    </p>

    <DayCode />
    <br />
    <h2>Answer: @answer</h2>
</div>


@code
{
    string answer = "123";
}