@page "/Day1"
@inject AdventOfCodeBlazor.Services.IDayApi DayApi

<PageTitle>@MainLayout.SiteTitle("Day 1")</PageTitle>

<div class="day" data-simplebar>
    <h2>Answer: @answer</h2>
    <DayCode />
</div>


@code
{
    string answer = "";
    protected override async Task OnInitializedAsync()
    {
        await DayApi.GetDayInput(1).ContinueWith((str) =>
       {
           int? prev = null;
           int larger = 0;
           foreach (var l in str.Result.Split("\n"))
           {
               int x = int.Parse(l);
               if (prev.HasValue && prev.Value < x)
               {
                   larger++;
               }
               prev = x;
           }

           answer = larger.ToString();
       });
    }
}