@page "/Day8"
@inject AdventOfCodeBlazor.Services.IDayApi DayApi

<PageTitle>@MainLayout.SiteTitle("Day 8")</PageTitle>

<div class="day" data-simplebar>
    <div class="row">
        <div class="col-md-6">
            <h2>Part 1: @answer1</h2>
        </div>
        <div class="col-md-6">
            <h2>Part 2: @answer2</h2>
        </div>
    </div>
    <DayCode />
</div>

@code
{
    string answer1 = "";
    string answer2 = "";

    protected override async Task OnInitializedAsync()
    {
        await DayApi.GetDayInput(8).ContinueWith((str) =>
        {
            var lines = str.Result.Split("\n").Select(x =>
            {
                var parts = x.Split(" | ");
                return new
                {
                    Input = parts[0].Trim().Replace("\n", "").Split(" "),
                    Output = parts[1].Trim().Replace("\n", "").Split(" ")
                };
            }).ToDictionary(x => x.Input, x => x.Output);

            int[] knownNumbers = new int[4] { 2, 3, 4, 7 };

            int known = 0;
            int sum = 0;

            foreach (var l in lines)
            {
                Display disp = new Display();

                disp.Parse(l.Key);

                string sInt = "";
                foreach (var o in l.Value)
                {
                    if (knownNumbers.Contains(o.Length))
                        known++;

                    sInt += disp.Read(o).ToString();
                }

                sum += int.Parse(sInt);
            }

            answer1 = known.ToString();
            answer2 = sum.ToString();
        });
    }

    public class Display
    {
        string[] parsed = new string[10];

        public void Parse(string[] s)
        {
            var grouped = s.GroupBy(x => x.Length);

            // step 1, get known numbers
            var one = grouped.First(x => x.Key == 2).First();
            var four = grouped.First(x => x.Key == 4).First();
            var seven = grouped.First(x => x.Key == 3).First();
            var eight = grouped.First(x => x.Key == 7).First();
            //.. and groups of length
            var sixChars = grouped.First(x => x.Key == 6);
            var fiveChars = grouped.First(x => x.Key == 5);

            // step 2, find 6, it's the only 6 char without all one segs, eight - six = UR
            var six = FindWithoutAll(ref sixChars, one);
            char UpRight = RemoveSegments(six, eight);

            // step 3, find 5, it's the only 5 char without all one segs, six - five = DL
            var five = FindWithoutAll(ref fiveChars, UpRight.ToString());
            char DownLeft = RemoveSegments(five, six);

            // step 4, find 9, it's the only 6 char without DownLeft
            var nine = FindWithoutAll(ref sixChars, DownLeft.ToString());

            // step 5, find 0 is the last of the sixChars
            var zero = sixChars.First();

            // step 6, find 3, it's the only 5 char missing DownLeft
            var three = FindWithoutAll(ref fiveChars, DownLeft.ToString());

            // step 7, find 2, it's the last of the fiveChars
            var two = fiveChars.First();

            parsed = new string[10] { zero, one, two, three, four, five, six, seven, eight, nine };
        }

        private char RemoveSegments(string a, string b)
        {
            foreach (var c in a)
                b = b.Replace(c.ToString(), "");

            if (b.Length > 1)
                throw new Exception("Ambiguous segment");

            return b[0];
        }

        private string FindWithoutAll(ref IGrouping<int, string> g, string w)
        {
            foreach (var x in g.Select(s => s))
            {
                foreach (var c in w)
                {
                    if (!x.Contains(c))
                    {
                        g = g.Where(s => s != x).GroupBy(s => s.Length).First();
                        return x;
                    }
                }
            }

            throw new Exception("Unable to find any without all");
        }

        public int Read(string s)
        {
            for (int i = 0; i < parsed.Length; i++)
            {
                if (parsed[i].Length == s.Length)
                {
                    bool valid = true;
                    foreach (var c in s)
                    {
                        if (!parsed[i].Contains(c))
                            valid = false;
                    }

                    if (valid)
                        return i;
                }
            }

            throw new Exception($"Unknown number {s}");
        }
    }
}