@inherits LayoutComponentBase

<div class="page">
    <main>
        <h1 class="text-center">Advent of Code 2021</h1>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
